<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" >

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/main.css}">

  <title>ExpertD.</title>
</head>

<body>
  <!--========================================================== -->
  <!-- ENCABEZADO -->
  <!--========================================================== -->
  <header class="container-fluid bg-warning d-flex justify-content-center">
    <p class="text-light mb-0 p-2 fs-6">Design by Ivan Leal</p>
  </header>

  <nav th:replace="components/navbar :: nav_bar"></nav>




  <div class="container w-75 bg-secondary text-light border border-dark rounded  my-5">
    <form  th:action="@{/colectivo/guardarColectivo}" th:object="${nuevoColectivo}" method="post">
      <h1 class="text-center p-3">Nuevo Colectivo!</h1>

      <div class="row px-3 py-2 ">

        <div class="form-group col-md-6">
          <label for="nombre">Nombre</label>
          <input type="Text" class="form-control" id="nombre" name="nombreColectivo" placeholder="Nombre" th:field="*{nombreColectivo}" required autofocus="autofocus" >
        </div>

        <div class="form-group col-md-3">
          <label for="tipoColectivo">Tipo de colectivo : </label>
          <!--- El th:field en este caso se queda con el objeto categoria seleccionado --->
          <select class="form-control " id="tipoColectivo" th:field="*{tipoColectivo}">
            <option th:each="tipoColectivo: ${tiposColectivos}"
                    th:value="${tipoColectivo.id}"
                    th:text="${tipoColectivo.nombreTipoColectivo}">tipos de colectivo
            </option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="precio">Nro de Colectivo:</label>
          <input type="number" class="form-control" id="precio" name="nroColectivo" th:field="*{nroColectivo}">
          <div class="text-danger"></div>
        </div>

        <div class="form-group col-md-6">
          <label for="ida1">Origen Ida : </label>
          <select class="form-control " id="ida1" th:field="${recorrido1.origen}" >
            <option th:each="referencia: ${referencias}" th:value="${referencia.id}"
                    th:text="${referencia.nombre}">origen ida
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="vuelta1">Destino ida  : </label>
          <select class="form-control " id="vuelta1" th:field="${recorrido1.destino}"  >
            <option th:each="referencia: ${referencias}" th:value="${referencia.id}"
                    th:text="${referencia.nombre}">destino ida
            </option>
          </select>
        </div>

        <div class="form-group col-md-12">
          <label for="observaciones">Observaciones: </label>
          <textarea class="form-control" id="observaciones" rows="5"
                    th:field="*{Observaciones}"></textarea>
          <div class="text-danger"></div>
        </div>

      </div>
      <hr>
      <div class="d-flex justify-content-center mb-3">
        <button type="submit" class="btn btn-warning">Crear Colectivo</button>
      </div>
    </form>
  </div>

  <br>



  <!--========================================================== -->
  <!--FOOTER-->
  <!--========================================================== -->


  <footer th:replace="components/footer :: footer"></footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

  
</body>

</html>